absl-py
addict
altair
attrs
blinker
cachetools
captcha
certifi
charset-normalizer
click
colorama
coloredlogs
contourpy
cycler
filelock
flatbuffers
fonttools
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
humanfriendly
idna
IMcore
importlib-metadata
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy==1.23.5
oauthlib
onnxruntime
opencv-python
packaging
pandas
Pillow
protobuf
psutil
pycocotools
pydeck
Pygments
pyparsing
pyreadline3
PySide6
PySide6-Addons
PySide6-Essentials
python-dateutil
pytz
PyYAML
rich
rsa
scipy
seaborn
shiboken6
six
smmap
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
thop
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
mmengine==0.10.4
mmcv==2.2.0
pytorch_wavelets
pywavelets